<li class="comment">
    <div class="avatar-sm">
        <img src={{this.userAvatar}} alt="">
    </div>
    <div class="comment-content">
        <div class="comment-user">
            <span>{{this.username}}</span>
        </div>
        <div class="comment-text">
            {{this.content}}
        </div>
    </div>
    <div class="comment-time">{{this.date}}</div>
    {{#if_eq this.id_user @root.account._id @root.admin}}
    <div class="comment-operation">
        <ion-icon name="ellipsis-vertical"></ion-icon>
        <div class="comment-operation-delete">
            <label class="delete labelDeleteComment" for="modal-delete-comment" data-id="{{this._id}}">Delete</label>
        </div>
    </div>
    {{/if_eq}}
</li>