{{> modals/changePassword}}

<header class="header">
    <input type="checkbox" id="toggle-menu" hidden>
    <label for="toggle-menu" class="layer-hidden-toggle-menu"></label>
    <div class="header-main">
        <a class="header-logo" href='/home'>
            <img src="/images/logo.png" alt="Logo Ton Duc Thang University">
        </a>
        <ul class="header-menu">
            <label for="toggle-menu" class="mobile close">
                <ion-icon name="close"></ion-icon>
            </label>
            <li class='menu-item img-department mobile'>
                <a href="/user/{{account._id}}" class='menu-link'>
                    <div class="avatar-sm">
                        <img src="{{account.avatar}}" alt="">
                    </div>
                    <span class="name">
                        {{account.username}}
                    </span>
                </a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="/home">
                    <ion-icon name="home-outline"></ion-icon>
                    <span class="mobile">Home</span>
                </a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="/notify">
                    <ion-icon name="notifications-outline"></ion-icon>
                    <span class="mobile">Notifications</span>
                </a>
            </li>
            <li class="header-menu-item mobile">
                <label for="modal-change-password" class="header-menu-link change-password">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <span class="mobile"> Change password</span>
                </label>
            </li>
            <li class="header-menu-item logout mobile">
                <a class="header-menu-link" href="/logout">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <span class="mobile">Logout</span>
                </a>
            </li>
        </ul>
        <ul class='menu-list not-user'>
            <a href="/user/{{account._id}}" class='menu-item my-profile'>
                <div class='menu-link'>
                    <div class="avatar-sm">
                        <img src="{{account.avatar}}" alt="">
                    </div>
                    <span class="name">
                        {{account.username}}
                    </span>
                </div>
            </a>
            <li class='menu-item drop-down'>
                <ion-icon name="caret-down-outline"></ion-icon>
                <ul class="menu-dropdown">
                    <a href='/user/{{account._id}}' class="menu-dropdown-item profile">
                        <ion-icon name="person-circle-outline"></ion-icon> My profile
                    </a>
                    <a href="/logout" class="menu-dropdown-item log-out">
                        <ion-icon name="log-out-outline"></ion-icon>Log out
                    </a>
                </ul>
            </li>

        </ul>
        <label for="toggle-menu" class="toggle-menu mobile">
            <ion-icon name="menu-outline"></ion-icon>
        </label>
    </div>
</header>